// @import url("https://fonts.googleapis.com/css?family=Proxima+Nova");

$theme-color: #f05203;
$primary-color: $theme-color;
$green: #82bd00;
$yellow: #f0c20c;
$gray-200: #ededed;
$gray-300: #d0d0d0;
$gray-400: #aaa7a6;
$gray-500: #393b40;

$black: #000;
$black-100: #1f1f1f;
$white: #fff;

@function px-to-rem($px, $base: 16) {
  @return #{$px / $base}rem;
}

@font-face {
  font-family: "proxima_nova";
  src: url("./assets/fonts/proximanova_black-webfont.woff2") format("woff2"),
    url("./assets/fonts/proximanova_black-webfont.woff") format("woff"),
    url("./assets/fonts/proximanova_black-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova";
  src: url("./assets/fonts/proximanova_black-webfont.woff2") format("woff2"),
    url("./assets/fonts/proximanova_black-webfont.woff") format("woff"),
    url("./assets/fonts/proximanova_black-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova";
  src: url("./assets/fonts/proximanova_blackit-webfont.woff2") format("woff2"),
    url("./assets/fonts/proximanova_blackit-webfont.woff") format("woff"),
    url("./assets/fonts/proximanova_blackit-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova";
  src: url("./assets/fonts/proximanova_bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/proximanova_bold-webfont.woff") format("woff"),
    url("./assets/fonts/proximanova_bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova";
  src: url("./assets/fonts/proximanova_boldit-webfont.woff2") format("woff2"),
    url("./assets/fonts/proximanova_boldit-webfont.woff") format("woff"),
    url("./assets/fonts/proximanova_boldit-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova";
  src: url("./assets/fonts/proximanova_extrabold-webfont.woff2") format("woff2"),
    url("./assets/fonts/proximanova_extrabold-webfont.woff") format("woff"),
    url("./assets/fonts/proximanova_extrabold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova";
  src: url("./assets/fonts/proximanova_light-webfont.woff2") format("woff2"),
    url("./assets/fonts/proximanova_light-webfont.woff") format("woff"),
    url("./assets/fonts/proximanova_light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova";
  src: url("./assets/fonts/proximanova_regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/proximanova_regular-webfont.woff") format("woff"),
    url("./assets/fonts/proximanova_regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.pNovaFamily {
  font-family: "proxima_nova", sans-serif;
}
.poPinsFamily {
  font-family: "Poppins", sans-serif;
}
.theme-color{
  color: $theme-color;
}
.text-gray-600{
  color: rgba($black, .6);
}
.cursor-pointer{
  cursor: pointer;
}
body {
  font-family: "proxima_nova", sans-serif !important;
  min-width: 320px;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
.bg-gray {
  background-color: $gray-200;
}
.auth-header {
  border-bottom: 1px solid rgba($black, 0.3);
  position: sticky;
  top: 0;
  z-index: 2;

  @media (min-width: 1024px) {
    padding-left: 2%;
  }
  @media (min-width: 1200px) {
    padding-left: 4%;
  }
  @media (min-width: 1400px) {
    padding-left: 6%;
  }
  .back-button {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
  }
  .logo {
    font-size: px-to-rem(28);
    line-height: 1.2;
    text-decoration: none;
    color: $black-100;

    @media (max-width: 1023px) {
      font-size: px-to-rem(24);
    }
    @media (max-width: 767px) {
      font-size: px-to-rem(20);
    }

    & > span {
      max-width: 59px;
      @media (max-width: 1023px) {
        max-width: 50px;
      }
      @media (max-width: 767px) {
        max-width: 45px;
      }
    }
  }
}
a {
  text-decoration: none;
}
.text-green {
  color: $green;
}
.black-100 {
  color: $black-100;
}
.black-100-78 {
  color: rgba($black-100, 0.78);
}
.auth-form-holder,
.auth-footer-area {
  max-width: 650px;
  width: 100%;
}
.auth-form-holder {
  border-radius: 20px;

  textarea {
    &.form-control {
      min-height: 125px;
    }
  }
  .education-block {
    border-bottom: 1px solid $gray-300;
    padding-bottom: 20px;
    & + .education-block {
      margin-top: 16px;
    }
  }
}
.form-label {
  font-size: px-to-rem(16);
  line-height: 1;
  font-family: "proxima_nova";
  @media (max-width: 767px) {
    font-size: px-to-rem(14);
  }
}
select {
  &.form-control {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);

    background-position: calc(100% - 20px) center, calc(100% - 15px) center,
      calc(100% - 2.5em) center;

    background-size: 5px 5px, 5px 5px, 1px 1.5em;

    background-repeat: no-repeat;
  }
}
.form-control {
  height: 53px;
  background: $white;
  border: 1px solid $gray-300;
  color: $black-100;
  border-radius: 12px;
  font-size: px-to-rem(16);
  font-weight: 500;
  padding: 10px 17px;

  @media (max-width: 767px) {
    height: 48px;
  }

  &:focus {
    outline: none;
    box-shadow: none;
    border-color: #f05203;
  }
}
.form-control-otp {
  width: 63px;
  height: 60px;
  border-radius: 12px;
  border: 1.25px solid #e1e5eb;
  background: transparent;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #0f0f0f;
  transition: all 0.3s ease-in-out;
  &:focus {
    border-color: $theme-color;
    outline: 0;
  }
}

.h1 {
  font-size: px-to-rem(64);
  line-height: 78px;
  h1 {
    font-size: inherit;
    line-height: inherit;
  }
}
.h2 {
  font-size: px-to-rem(46);
  line-height: 58px;
  h2 {
    font-size: inherit;
    line-height: inherit;
  }
}
.h3 {
  font-size: px-to-rem(28);
  line-height: 36px;
  h3 {
    font-size: inherit;
    line-height: inherit;
  }
}
.h4 {
  font-size: px-to-rem(22);
  line-height: 28px;
  h4 {
    font-size: inherit;
    line-height: inherit;
  }
}
// panel heading
.ah-heading-01 {
  font-size: 40px;
  line-height: 1;
}
.ah-heading-02 {
  font-size: 30px;
  line-height: 1;

  @media (min-width: 768px) {
    font-size: 32px;
  }
  @media (min-width: 1024px) {
    font-size: 36px;
  }
}
.ah-heading-03 {
  font-size: 32px;
  line-height: 1;
}
.ah-heading-04 {
  font-size: 28px;
  line-height: 31px;
}
.ah-heading-05 {
  font-size: 20px;
  line-height: 1;
}

// .ah-text-xl {
//   font-size: px-to-rem();
// }
.ah-text-lg {
  font-size: px-to-rem(20);
}
.ah-text-md {
  font-size: px-to-rem(18);
}
.ah-text-base {
  font-size: px-to-rem(16);
}
.ah-text-sm {
  font-size: px-to-rem(14);
}
.ah-text-xs {
  font-size: px-to-rem(12);
}

.btn {
  font-size: px-to-rem(15);
  line-height: 25px;
  min-width: 203px;
  font-weight: 600;
  border-radius: 8px;
  padding: 15px 25px;
  color: $white;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 5px 0 #ccc;
  transition: all 0.2s ease;
  font-family: "Manrope", sans-serif;

  @media (max-width: 767px) {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: px-to-rem(14);
    line-height: 22px;
  }

  &:active {
    transform: translateY(4px);
    box-shadow: 0 1px 0 #ccc;
  }
}

.btn-primary {
  background-color: $theme-color;
  color: $white;
  border: 1px solid $theme-color;
  &:hover {
    background-color: darken($theme-color, 5%);
    border-color: darken($theme-color, 5%);
  }
  &:active {
    background-color: darken($theme-color, 5%) !important;
    border-color: darken($theme-color, 5%) !important;
  }
  &:disabled {
    background-color: $theme-color;
    border-color: $theme-color;
    opacity: 0.8;
    outline: none;
  }
}

.App {
  text-align: center;
  background-color: $primary-color;

  padding: 20px;

  h1 {
    font-size: 3em;
  }
}

.user-type-selection-card {
  .user-type-selection-card-item {
    transform: translateY(0);
    max-width: 195px;
    label {
      width: 100%;
      height: 156px;
      padding: 10px;
      text-align: center;
      border: 2px solid rgba($gray-500, 0.3);
      border-radius: 10px;
      font-size: px-to-rem(18px);
      color: rgba($black, 0.6);
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
    input {
      position: fixed;
      top: 0;
      opacity: 0;
      visibility: hidden;
    }
    .icon {
      font-size: 36px;
      color: rgba($black, 0.6);
    }

    &:has(input:checked) {
      label {
        border-color: $green;
        background: rgba($green, 0.12);
        color: $black;
        .icon {
          color: $theme-color;
        }
      }
    }
  }
}
.dottedLoading {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin: 7px auto;
  position: relative;
  color: #fff;
  left: -100px;
  box-sizing: border-box;
  animation: dottedLoadingAnimation 2s linear infinite;
}
@keyframes dottedLoadingAnimation {
  0% {
    box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 100px 0 white, 0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0),
      0px 0 rgba(255, 255, 255, 0);
  }
  36% {
    box-shadow: 120px 0 white, 110px 0 white, 100px 0 white,
      0px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 130px 0 white, 120px 0 white, 110px 0 white, 100px 0 white;
  }
  62% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white,
      110px 0 white;
  }
  75% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      130px 0 white, 120px 0 white;
  }
  87% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      200px 0 rgba(255, 255, 255, 0), 130px 0 white;
  }
  100% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0),
      200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
  }
}

.PhoneInput {
  .PhoneInputInput {
    border-width: 0;
    &:focus,
    &:active {
      outline: none;
    }
  }
}
.react-datepicker-wrapper {
  width: 100%;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 330px;
  background: #f5f7f9;
  // padding: 5px 5px 0 0;
  overflow: hidden;
  border-right: 1px solid rgba($black, 0.2);
  color: var(--black-900);
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;

  @media (max-width: 1499px) {
    width: 280px;
  }
  .logo {
    .lazy-load-image-loaded {
      max-width: 49px;
    }
    strong {
      font-size: px-to-rem(28);
      color: $black-100;
    }
  }
  .scrollable-sidebar {
    height: calc(100vh - 147px);
    overflow-x: auto;
    padding: 0 35px;
    @media (max-width: 1499px) {
      padding-left: 24px;
      padding-right: 24px;
    }
    @media (max-width: 1199px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    .menu {
      .menu-item {
        padding: 19px 20px;
        gap: 17px;
        border-radius: 10px;
        text-decoration: none;
        font-size: px-to-rem(18);
        line-height: 1;
        color: rgba($black, 0.54);
        transition: background 0.3s;
        @media (max-width: 1499px) {
          font-size: 17px;
        }
        &:hover {
          background: $theme-color;
          color: $white;
          box-shadow: 0px 5px 0px 0px #aaa7a680;
        }
        &.active {
          background: $theme-color;
          color: $white;
          box-shadow: 0px 5px 0px 0px #aaa7a680;
        }
        &.active svg {
          fill: $theme-color;
        }
        .icon {
          font-size: 25px;
          line-height: 1;
        }
      }
    }
    .bottom-section {
      margin-top: auto;
      .menu {
        li {
          margin-bottom: 20px;
        }
      }
      .menu-item {
        color: rgba($black, 0.7);
        padding: 0;

        img {
          width: 28px;
          height: 28px;
          border: 1px solid #4a4a4b;
        }
        &:hover {
          color: $theme-color;
          background-color: transparent;
          box-shadow: none;
          img {
            border: 1px solid $theme-color;
          }
        }
        &.active {
          color: $theme-color;
          background-color: transparent;
          box-shadow: none;
          img {
            border: 1px solid $theme-color;
          }
        }
        .icon {
          font-size: 25px;
          line-height: 1;
        }
      }
      .sidebar-devider {
        border-top: 1px solid rgba($black, 0.2);
        padding-top: 20px;
        margin-top: 20px;
      }
    }
  }
}
